In [ ]:
### SQL (Structured Query Language) is a standard language for managing and manipulating relational databases.
### SQLite is a self contained,serverless database engine.

In [1]:
import sqlite3

In [2]:
# creating a database connection
connection=sqlite3.connect("example.db") # a db file, named 'example.db' will be created

In [3]:
# create a cursor object which will iterate through your tables and all in the db
cursor=connection.cursor()

In [4]:
# creating a table in the db
# the query is similar to that of MySQL
cursor.execute('''
    CREATE TABLE employee(
    ID INT PRIMARY KEY,
    Name VARCHAR(50),
    Age INT,
    Department VARCHAR(50)
    )
''')


# and after creating the table you also need to commit the changes,
connection.commit()

In [ ]:
# now if i try to access the table
cursor.execute('''
    SELECT * FROM employee
''')

# see that an object has been created

In [6]:
# now we will be inserting some data in the 'employee' table
cursor.execute('''
    INSERT INTO employee(ID,Name,Age,Department)
    VALUES
    (1,"Aadrish",21,"Data Science"),
    (2,"Toddy",22,"IT"),
    (3,"Bob",35,"Marketing"),
    (4,"Charlie",35,"Finance")
''')


# and finally you have to commit the changes
connection.commit()

In [ ]:
# now if you want to query data from the table
cursor.execute("SELECT * FROM employee")
# and now you need to get rows from the queried data
rows=cursor.fetchall()

print(rows) # see that the rows are in form of tuple, and they are all collected in a list

[(1, 'Aadrish', 21, 'Data Science'), (2, 'Toddy', 22, 'IT'), (3, 'Bob', 35, 'Marketing'), (4, 'Charlie', 35, 'Finance')]

In [9]:
# to print each row at a time, we iterate through the rows
for row in rows:
    print(row)
# now each row tuple will be printed individually

(1, 'Aadrish', 21, 'Data Science')
(2, 'Toddy', 22, 'IT')
(3, 'Bob', 35, 'Marketing')
(4, 'Charlie', 35, 'Finance')

In [10]:
# now suppose you want to update info in a table
cursor.execute('''
    UPDATE employee
    SET Age=21
    WHERE Name="Toddy"    
''')

# and for changes to take effect you have to commit
connection.commit()

In [12]:
# let's see if changes took place or not
cursor.execute("SELECT * FROM employee")
rows=cursor.fetchall()

for row in rows:
    print(row)
 # see that 'Toddy' age has been set to 21

(1, 'Aadrish', 21, 'Data Science')
(2, 'Toddy', 21, 'IT')
(3, 'Bob', 35, 'Marketing')
(4, 'Charlie', 35, 'Finance')

In [16]:
# now deleting data from the table
cursor.execute('''
    DELETE FROM employee
    WHERE Name="Bob"
''')
# this query is supposed to deleted Bob's records from the table
connection.commit()

In [17]:
cursor.execute("SELECT * FROM employee")
rows=cursor.fetchall()

for row in rows:
    print(row)

# you can see that Bob's records got deleted from the table

(1, 'Aadrish', 21, 'Data Science')
(2, 'Toddy', 21, 'IT')
(4, 'Charlie', 35, 'Finance')

In [18]:
### Working with sales data
sales_db_connection=sqlite3.connect("sales_data.db")
sales_db_connection.cursor()

In [19]:
# create a table in the sales database
cursor.execute('''
    CREATE TABLE sales(
        ID INT PRIMARY KEY,
        Date VARCHAR(50) NOT NULL,
        Product VARCHAR(50),
        Sales INT, 
        Region VARCHAR(50)
        )
''')


sales_db_connection.commit()

In [20]:
# inserting many data into the table at once
sales_data=[
    ("2023-01-01","Product1",100,"North"),
    ("2023-01-02","Product2",200,"South"),
    ("2023-01-03","Product3",150,"East"),
    ("2023-01-04","Product3",250,"West"),
    ("2023-01-02","Product2",300,"North"),
]

In [21]:
# to insert the list into the sales table
cursor.executemany('''
    INSERT INTO sales(Date,Product,Sales,Region)
        VALUES(?,?,?,?)
''',sales_data) 
# the 'sales_data' list will replace the '?' in values

sales_db_connection.commit()

In [23]:
# check if the data has been inserted
cursor.execute("SELECT * FROM sales")
rows=cursor.fetchall()

for row in rows:
    print(row)

# yes see that all the list items have been inserted
# since we have not inserted any 'ID', so it shows None

(None, '2023-01-01', 'Product1', 100, 'North')
(None, '2023-01-02', 'Product2', 200, 'South')
(None, '2023-01-03', 'Product3', 150, 'East')
(None, '2023-01-04', 'Product3', 250, 'West')
(None, '2023-01-02', 'Product2', 300, 'North')

In [24]:
# now finally to close the connection to db
sales_db_connection.close() # closing the connection to sales db
connection.close() # closing the initial connection we made